<h1>Add conversation</h1>
<%= form_for @email_conversation do |f| %>
  <fieldset>
    <legend>Email Conversation</legend>
    <label>
      Title: 
      <%= f.text_field :title %>
    </label>
     
    <%= f.fields_for :email_messages do |mf| %>
      <%= render :partial => 'email_message_fields', :locals => {:f => mf} %>
    <% end %>
    
    <%= link_to_add_fields "Add New Message to Conversation", f, :email_messages %>
  
  </fieldset>
  <%= f.submit %>
  
<% end %>